.about{
    display: flex;
    flex-direction: column;
}

._about{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-top: 5%;
}


.about .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 60px;
}

.my_img{
    margin-left: 80px;
    background-image: url(./picture/me.jpg);
    height: 250px;
    width: 250px;
    background-size: cover;
    box-shadow: 2px;

    border-radius: 50%;
    border : 5px black;
    border-style:dashed ;

    transition: 200ms;
}

.my_img:hover{
    transform: rotateY(360deg);
    transition-duration: 1000ms;
}


.about_text{
    font-size: 25px;
    line-height: 50px;
}

