.about{
    display: flex;
    flex-direction: column;
}

._about{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    margin-top: 5%;
}


.about .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 50px;
}
.my_img{
    background-image: url(./picture/me.jpg);
    height: 250px;
    width: 250px;
    background-size: cover;
    box-shadow: 2px;

    border-radius: 50%;
    border : solid 3px black;

    transition: 200ms;
}

.my_img:hover{
    transform: scale(110%);

}


.about_text{
    font-size: 25px;
    line-height: 50px;
}

